@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;900&family=Poppins:wght@200;300;400;600&family=Quicksand:wght@300;400;500;600;700&family=urbanist:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: #012a4a;
}


header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .name-logo {
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

header nav {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-element {
  position: relative;
}

.navbar .active {
  color: #48cae4;
}

.navbar-element:hover::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 1px;
  animation: line 10s;
  border-bottom: 1px solid rgb(255, 255, 255);
}

/* .navbar-element:hover {
  animation: line 1s linear infinite;
} */

@keyframes line {
  0% {
    width: 0;
  }
  10% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}